###############################################################################
# Normalize text files
###############################################################################

* text=auto eol=lf

###############################################################################
# Source code
###############################################################################

*.cs              text
*.csproj          text
*.props           text
*.targets         text
*.sln             text
*.slnx            text

###############################################################################
# Configuration
###############################################################################

*.json            text
*.xml             text
*.yml             text
*.yaml            text

###############################################################################
# Documentation
###############################################################################

*.md              text
*.txt             text
*.drawio          text

###############################################################################
# Git
###############################################################################

.editorconfig     text
.gitattributes    text
.gitignore        text

###############################################################################
# Images
###############################################################################

*.png             binary
*.jpg             binary
*.jpeg            binary
*.ico             binary
*.svg             text

###############################################################################
# Documents
###############################################################################

*.pdf             binary